<% @meta_title = "Unseen #{params[:registry]} Infrastucture" %>

<div class="container-sm">
  <h2>
    Unseen <%= params[:registry] %> Infrastucture
  </h2>

  <p class='lead'>
    The following packages are critical to the operation of the <%= @registry.try(:ecosystem) %> open source ecosystem but have very low levels of attention.
    They are the foundation of the software supply chain, and are used by millions of developers and are also the most vulnerable to supply chain attacks.
  </p>

  <p>
    These lists have been compiled from packages with over 1 million downloads and less than 100 stars.
    Not all package registries make download statistics available, so the download counts may be incomplete.
    New data is being collected and aggregated all the time, so these lists will continue to change and update.
  <p>

  <div class="row">
    <div class="col-lg-9">
      <%= render @packages %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Filter by Registry
        </div>
        <div class="list-group list-group-flush">
          <% @registries.each do |registry,count| %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:registry] == registry.name %>" href="<%= url_for(registry: (params[:registry] == registry.name ? nil :registry.name), page: nil) %>">
              <%= registry %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>