<% @meta_title = "Top #{@registry.ecosystem} packages on #{@registry.name} by #{@sort_name}"%>

<div class="container-sm">
  <h1 class='mb-3'><%= @meta_title  %></h1>

  <p>
    Top by:
    <%= link_to 'Downloads', top_ecosystem_path(@registry.ecosystem, sort: 'downloads') %> | 
    <%= link_to 'Dependent Packages', top_ecosystem_path(@registry.ecosystem, sort: 'dependent_packages_count') %> | 
    <%= link_to 'Dependent Repositories', top_ecosystem_path(@registry.ecosystem, sort: 'dependent_repos_count') %> |
    <%= link_to 'Stars', top_ecosystem_path(@registry.ecosystem, sort: 'stars') %> |
    <%= link_to 'Forks', top_ecosystem_path(@registry.ecosystem, sort: 'forks') %> |
    <%= link_to 'Versions', top_ecosystem_path(@registry.ecosystem, sort: 'versions_count') %> |
    <%= link_to 'Maintainers', top_ecosystem_path(@registry.ecosystem, sort: 'maintainers_count') %> |
    <%= link_to 'Average Ranking', top_ecosystem_path(@registry.ecosystem, sort: nil) %>
  </p>

  <div class="table-responsive">
    <table class='table table-striped'>
      <thead class='sticky-top bg-white'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">package</th>
          <% if @packages.any?{|p| p.downloads.present?} %>
            <th scope="col">
              <%= link_to 'Downloads', top_ecosystem_path(@registry.ecosystem, sort: 'downloads') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.dependent_packages_count > 0} %>
            <th scope="col">
              <%= link_to 'Dependent Packages', top_ecosystem_path(@registry.ecosystem, sort: 'dependent_packages_count') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.dependent_repos_count > 0} %>
            <th scope="col">
              <%= link_to 'Dependent Repositories', top_ecosystem_path(@registry.ecosystem, sort: 'dependent_repos_count') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.stars.present?} %>
            <th scope="col">
              <%= link_to 'Stars', top_ecosystem_path(@registry.ecosystem, sort: 'stars') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.forks.present?} %>
            <th scope="col">
              <%= link_to 'Forks', top_ecosystem_path(@registry.ecosystem, sort: 'forks') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.versions_count.present?} %>
            <th scope="col">
              <%= link_to 'Versions', top_ecosystem_path(@registry.ecosystem, sort: 'versions_count') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.maintainers_count > 0} %>
            <th scope="col">
              <%= link_to 'Maintainers', top_ecosystem_path(@registry.ecosystem, sort: 'maintainers_count') %>
            </th>
          <% end %>
          <% if @packages.any?{|p| p.latest_release_published_at.present? } %>
            <th scope="col">
              <%= link_to 'Latest Release', top_ecosystem_path(@registry.ecosystem, sort: 'latest_release_published_at') %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @packages.each_with_index do |package,index| %>
          <tr>
            <th scope="row">
              <%= index + 1%>
            </th>
            <td>
              <%= link_to package.name, registry_package_path(@registry, package.name) %>
              <% if package.status.present? %>
                <span class="badge bg-secondary">
                  <%= package.status %>
                </span>
              <% end %>
            </td>
            <% if @packages.any?{|p| p.downloads.present?} %>
              <td>
                <%= number_with_delimiter package.downloads %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.dependent_packages_count > 0} %>
              <td>
                <%= number_with_delimiter package.dependent_packages_count %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.dependent_repos_count > 0} %>
              <td>
                <%= number_with_delimiter package.dependent_repos_count %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.stars.present?} %>
              <td>
                <%= number_with_delimiter package.stars %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.forks.present?} %>
              <td>
                <%= number_with_delimiter package.forks %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.versions_count.present?} %>
              <td>
                <%= number_with_delimiter package.versions_count %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.maintainers_count > 0} %>
              <td>
                <%= number_with_delimiter package.maintainers_count %>
              </td>
            <% end %>
            <% if @packages.any?{|p| p.latest_release_published_at.present? } %>
              <td>
                <span title="<%= package.latest_release_published_at %>"><%= time_ago_in_words package.latest_release_published_at %> ago</span>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>