<% @meta_description = "TBC" %>
<% @meta_title = "underproduction in #{@registry.name}" %>

<div class="container-sm">
  <h1 class='mb-3'>
    <%= link_to 'Underproduction', funding_path %>: <%= @registry %>
  </h1>

  <p class='lead'>

  <p>
  
  <% @packages.each do |package| %>
    <div class="card mb-3">
      <div class="card-body">
        <% if package.rankings.present? && package.rankings['average'] < 10.05 %>
          <span class='badge bg-secondary float-end'>
            Top <%= [package.rankings['average'].round(1), 0.1].max %>% on <%= package.registry %>
          </span>
        <% end %>

        <h5 class="card-title">
          <%= link_to package.name, registry_package_path(package.registry.name, package.name) %>
          <% if package.latest_release_number %>
            <small class='text-muted'>
            <%= package.latest_release_number %>
            </small>
          <% end %>
          <% if package.status %>
            <small class='badge bg-secondary'>
            <%= package.status %>
            </small>
          <% end %>
          <% if package.funding_links.any? %>
            <small title='Accepts funding'>
              💰
            </small>
          <% end %>
        </h5>

        <% if package.description_with_fallback.present? %>
          <%= truncate package.description_with_fallback, :length => 100 %><br/>
        <% end %>

        <small class='text-muted'>
          <% if package.versions_count > 0 %>
            <%= pluralize number_with_delimiter(package.versions_count), 'version' %>
          <% end %>

          <% if package.latest_release_published_at %>
            <%= '-' if package.versions_count > 0 %> <span title="<%= package.latest_release_published_at %>">Latest release: <%= time_ago_in_words package.latest_release_published_at %> ago</span>
          <% end %>

          <% if package.dependent_packages_count > 0 %>
            - <%= pluralize number_with_delimiter(package.dependent_packages_count), 'dependent package' %>
          <% end %>

          <% if package.dependent_repos_count > 0 %>
            - <%= pluralize number_with_delimiter(package.dependent_repos_count), 'dependent repositories' %>
          <% end %>

          <% if package.downloads && package.downloads_period %>
            - <%= number_to_human(package.downloads).downcase %> downloads <%= download_period(package.downloads_period) %>
          <% end %>

          <% if package.repo_metadata.present? && package.stars %>
            - <%= number_with_delimiter package.stars %> stars on <%= package.repo_metadata.fetch('host',{})['name'] %>
          <% end %>

          <br/>Underproduction: <span title='usage: <%= package.rankings['underproduction']['usage_rank'] %> - quality: <%= package.rankings['underproduction']['quality_rank'] %>'><%= package.rankings['underproduction']['production'] %></span>
          <br/>Avg time to close issues: <%= distance_of_time_in_words package.issue_metadata['avg_time_to_close_issue'] %>
          <% if package.issue_metadata['avg_time_to_close_pull_request'] %>
            <br/>Avg time to close pull requests: <%= distance_of_time_in_words package.issue_metadata['avg_time_to_close_pull_request'] %>
          <% end %>
        </small>
      </div>
    </div>
  <% end %>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>