<% @meta_description = "We've detected #{ number_with_delimiter @registries.sum{|r| r.funded_packages_count } } packages (#{ (@registries.sum{|r| r.funded_packages_count }/@registries.sum{|r| r.packages_count}.to_f*100).round(2) }%) have declared a way to fund their development via a funding platform. 
    Funded packages are detected via a funding url on their registry or via a funding.yml file in their repository or the owner of the repository is part of GitHub Sponsors." %>
<% @meta_title = "Funding in Open Source" %>

<div class="container-sm">
  <h1 class='mb-3'>Funding  in Open Source</h1>

  <p class='lead'>
    <%= @meta_description %>
  <p>

  <p class='lead'>
    <%= link_to 'Click here', '/funding/platforms' %> to see the breakdown of most popular platforms and websites referenced in relation to funding of open source software packages.
  <p>

  <% @registries.group_by(&:ecosystem).each do |ecosystem, registries| %>
    <% registry = registries.first %>
    <% if registries.length > 1 && registries.all?{|r| r.version.present? } %>
      
      <div class="card mb-3 d-flex" id="registry_<%= registry.id %>">
        <div class="card-body pb-1">
          <div class="d-flex">
            
            <div class="flex-grow-1 ms-3 text-break">
              <h5 class='card-title'>
                <%= link_to registry.ecosystem, funding_registry_path(registry.name) %>
              </h5>
            
              <p class="card-subtitle mb-2 text-muted">
                <%= pluralize number_with_delimiter(registry.funded_packages_count), 'funded package' %>
                (<%= registry.funded_packages_percentage.round(2) %>%)
              </p>
            </div>
            <div class="flex-shrink-0">
              <img src="<%= registry.icon_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
            </div>  
          </div>
        </div>
      </div>
    <% else %>
      <div class="card mb-3 d-flex" id="registry_<%= registry.id %>">
        <div class="card-body pb-1">
          <div class="d-flex">
            
            <div class="flex-grow-1 ms-3 text-break">
              <h5 class='card-title'>
                <%= link_to registry.name, funding_registry_path(registry.name) %>
              </h5>
            
              <p class="card-subtitle mb-2 text-muted">
                <%= pluralize number_with_delimiter(registry.funded_packages_count), 'funded package' %>
                (<%= registry.funded_packages_percentage.round(2) %>%)
              </p>
            </div>
            <div class="flex-shrink-0">
              <img src="<%= registry.icon_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
            </div>  
          </div>
        </div>
      </div>
    
    <% end %>
  <% end %>
</div>