<div class="container-sm">
  <h1 class='mb-3'>Funding</h1>

  <p class='lead'>
    We've detected <%= number_with_delimiter @registries.sum{|r| r.metadata['funded_packages_count'] } %> packages (<%= (@registries.sum{|r| r.metadata['funded_packages_count'] }/@registries.sum{|r| r.packages_count}.to_f*100).round(2) %>%) have declared a way to fund their development via a funding platform. Funded packages are detected via a funding url on their registry or via a funding.yml file in their repository.
  <p>

  <% @registries.each do |registry| %>

    <div class="card mb-3 registry d-flex" id="registry_<%= registry.id %>">
      <div class="card-body pb-1">
        <div class="d-flex">
          
          <div class="flex-grow-1 ms-3 text-break">
            <h5 class='card-title'>
              <%= link_to registry.name, funding_registry_path(registry.name) %>
            </h5>
          
            <p class="card-subtitle mb-2 text-muted">
              <%= pluralize number_with_delimiter(registry.metadata['funded_packages_count']), 'funded package' %>
              (<%= registry.funded_packages_percentage.round(2) %>%)
            </p>
          </div>
          <div class="flex-shrink-0">
            <img src="https://github.com/<%= registry.github %>.png" class="rounded" height='40' width='40' onerror="this.style.display='none'">
          </div>  
        </div>
      </div>
    </div>

  <% end %>
</div>