<% @meta_description = "We've detected #{ number_with_delimiter @registries.sum{|r| r.funded_packages_count } } packages (#{ (@registries.sum{|r| r.funded_packages_count }/@registries.sum{|r| r.packages_count}.to_f*100).round(2) }%) have declared a way to fund their development via a funding platform." %>
<% @meta_title = "Popular Funding Platforms in Open Source<" %>

<div class="container-sm">
  <h1 class='mb-3'>Popular Funding Platforms in Open Source</h1>

  <p class='lead'>
    <%= @meta_description %>
    Funded packages are detected via a funding url on their registry or via a funding.yml file in their repository or the owner of the repository is part of GitHub Sponsors.
  
  <p class='lead'>Below is a breakdown of most popular platforms and websites referenced in relation to funding of open source software packages.</p>

  <% @domains.each do |domain, count| %>
    <div class="card mb-3 d-flex">
      <div class="card-body pb-1">
        <div class="d-flex">
           
          <div class="flex-grow-1 ms-3 text-break">
            <h5 class='card-title'>
              <%= link_to domain, "https://#{domain}", target: :_blank %>
            </h5>

            <p class="card-subtitle mb-2 text-muted">
              <%= pluralize number_with_delimiter(count), 'funded package' %>
              (<%= (count.to_f/@registries.sum{|r| r.funded_packages_count }).round(2) %>%)
            </p>
          </div>
          <div class="flex-shrink-0">
            <img src="https://github.com/<%= domain.split('.').first %>.png" class="rounded" height='40' width='40' onerror="this.style.display='none'">
          </div>
        </div>
      </div>
    </div>
  <% end %>