<footer class="footer dark-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a class="site-logo site-logo--white" href="/">Ecosyste.ms</a>
        <p class="small">Tools and open datasets to support, sustain, and secure critical digital infrastructure.</p>
        <p class="small">
          Code: <%= link_to 'AGPL-3', 'https://github.com/ecosyste-ms/documentation/blob/main/LICENSE' %>  — 
          Data: <%= link_to 'CC BY-SA 4.0', 'https://creativecommons.org/licenses/by-sa/4.0/', target: :_blank %>
        </p>
        <p class='footer-icons'>
          <%= link_to "https://github.com/ecosyste-ms", target: :_blank do %>
            <%= bootstrap_icon 'github', width: 20, height: 20, alt: 'ecosyste.ms on Github' %>
          <% end %>
          <%= link_to "https://mastodon.social/@ecosystems", target: :_blank do %>
            <%= bootstrap_icon 'mastodon', width: 20, height: 20, alt: 'ecosyste.ms on Mastodon' %>
          <% end %>
          <%= link_to "https://opencollective.com/ecosystems", target: :_blank do %>
            <%= bootstrap_icon 'opencollective', width: 20, height: 20, alt: 'ecosyste.ms on Open Collective' %>
          <% end %>
        </p>
        <div>
          <h3 class="mt-5 h6">Supported by</h3>
          <div class="row justify-content-start align-items-center g-4 mb-4 mb-lg-0">		
            <div class="col-auto">
              <a href="https://www.schmidtfutures.org">
                <%= image_tag("logo-schmidt-white.svg", alt: "Schmidt Futures", class: "img-fluid p3", size: "267x20") %>
              </a>
            </div>
      
            <div class="col-auto">
              <a href="https://oscollective.org">
                <%= image_tag("logo-osc-white.png", alt: "Open Source Collective", class: "img-fluid p3", size: "210x56") %>
              </a>
            </div>
          </div>
          <p class="mt-3"><a href="https://opencollective.com/ecosystems" class="small">Become a sponsor</a></p>
          </div>
        </div>
      <div class="col-md-4">
        <ul class="list-unstyled footer-links mt-3 small">
          <li><strong><%= link_to 'About', 'https://ecosyste.ms' %></strong></li>
          <li><strong><%= link_to 'Blog', 'https://blog.ecosyste.ms' %></strong></li>
          <li><strong><%= link_to 'Contact', 'https://mastodon.social/@ecosystems' %></strong></li>
          <li><strong><a href="https://ecosyste.ms/privacy">Privacy</a></strong></li>
          <li><strong><a href="https://ecosyste.ms/terms">Terms</a></strong></li>
          <li><strong><%= link_to 'Status', 'https://ecosystems.appsignal-status.com/' %></strong></li>
        </ul>
      </div>
    </div>
  </div>
</footer>