
<div class="container-sm">

  <div class="alert alert-danger" role="alert">
   This service is recovering from a hardware failure. Some data may be missing or incomplete for a time, but we are working to restore it.
  </div>

  <div class='mb-5'>
    <%= line_chart recent_versions_data_path, thousands: "," %>
  </div>

  <h4 class='mb-3'>Total packages indexed: <%= number_with_delimiter @registries.sum(&:packages_count) %></h4>

  <% @registries.group_by(&:ecosystem).each do |ecosystem, registries| %>
    <% if registries.length > 1 && registries.all?{|r| r.version.present? } %>
      <% registry = registries.first %>
      <div class="card mb-3 registry d-flex" id="registry_<%= registry.id %>">
        <div class="card-body pb-1">
          <div class="d-flex">
            
            <div class="flex-grow-1 ms-3 text-break">
              <h5 class='card-title'>
                <%= link_to ecosystem, ecosystem_path(ecosystem) %>
              </h5>

              <p class="card-subtitle mb-2 text-muted">
                <% registries.each do |reg| %>
                  <%= link_to reg.version, registry_packages_path(reg.name) %>: <%= number_with_delimiter reg.packages_count %> packages <br/>
                <% end %>
              </p>
            </div>
            <div class="flex-shrink-0">
              <img src="<%= registry.icon_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
            </div>  
          </div>
        </div>
      </div>

    <% else %>
      <%= render registries %>
    <% end %>
  <% end %>
</div>