<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <% if controller_name == 'packages' && action_name == 'index' %>
      <a class="nav-link active" aria-current="page">
    <% else %>
      <a class="nav-link" href="<%= registry_packages_path(@registry) %>">
    <% end %>
      Packages
      <span class="badge bg-secondary rounded-pill">
        <%= number_with_delimiter @registry.packages_count %>
      </span>
    </a>
  </li>
  <% if @registry.maintainers_count > 0 %>
    <li class="nav-item">
      <% if controller_name == 'maintainers' %>
        <a class="nav-link active" aria-current="page">
      <% else %>
        <a class="nav-link" href="<%= registry_maintainers_path(@registry) %>">
      <% end %>
        Maintainers
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.maintainers_count %>
        </span>
      </a>
    </li>
  <% end %>
  <% if @registry.namespaces_count > 0 %>
    <li class="nav-item">
      <% if controller_name == 'namespaces' %>
        <a class="nav-link active" aria-current="page">
      <% else %>
        <a class="nav-link" href="<%= registry_namespaces_path(@registry) %>">
      <% end %>
        Namespaces
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.namespaces_count %>
        </span>
      </a>
    </li>
  <% end %>
  <% if @registry.keywords_count > 0 %>
    <li class="nav-item">
      <% if (controller_name == 'registries' && action_name == 'keywords') %>
        <a class="nav-link active" aria-current="page">
      <% else %>
        <a class="nav-link" href="<%= keywords_registry_path(@registry) %>">
      <% end %>
        Keywords
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.keywords_count %>
        </span>
      </a>
    </li>
  <% end %>
  <% if controller_name == 'packages' && ['index', 'dependent_packages', 'related_packages'].include?(action_name) %>
    <%= render 'packages/sort' %>
  <% elsif controller_name == 'maintainers' %>
    <%= render 'maintainers/sort' %>
  <% end %>
</ul>
