<% @meta_title = "#{@registry} keywords" %>
<% @meta_description = "View the keywords on the #{@registry} package registry, including their packages." %>

<div class="container-sm">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Registries", registries_path %></li>
      <li class="breadcrumb-item"><%= link_to @registry.name, registry_packages_path(@registry) %></li>
      <li class="breadcrumb-item active" aria-current="page">Keywords</li>
    </ol>
  </nav>

  <h1 class='h4 mb-3'>
    <%= @registry %> keywords
  </h1>

  <%= render 'tabs' %>

  <div class="row">
    <% @keywords.each do |keyword, count| %>
      <% next if keyword.blank? %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to keyword, keyword_registry_path(@registry.name, keyword.squish) %>
            </h5>
            <p class="card-text">
              <%= number_with_delimiter count %> packages
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>
</div>
