<% @meta_title = "#{@registry} keywords" %>
<% @meta_description = "View the keywords on the #{@registry} package registry, including their packages." %>

<div class="container-sm">
  <h2>
    <%= @registry %> keywords
  </h2>

  <p class='lead'>
    View the keywords on the <%= @registry %> package registry, including their packages.
  </p>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href="<%= registry_packages_path(@registry) %>">
        Packages
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.packages_count %>
        </span>
      </a>
    </li>
    <% if @registry.maintainers_count > 0 %>
      <li class="nav-item">
        <a class="nav-link" href="<%= registry_maintainers_path(@registry) %>">
          Maintainers
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.maintainers_count %>
          </span>
        </a>
      </li>
    <% end %>
    <% if @registry.namespaces_count > 0 %>
      <li class="nav-item">
        <a class="nav-link" href="<%= registry_namespaces_path(@registry) %>">
          Namespaces
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.namespaces_count %>
          </span>
        </a>
      </li>
    <% end %>
    <% if @registry.keywords_count > 0 %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          Keywords
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.keywords_count %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="row">
    <% @keywords.each do |keyword, count| %>
      <% next if keyword.blank? %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to keyword, keyword_registry_path(@registry.name, keyword.squish) %>
            </h5>
            <p class="card-text">
              <%= number_with_delimiter count %> packages
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>  
</div>
