<% @meta_title = "#{@keyword} | #{@registry} keywords" %>

<div class="container-sm">
  <h2>
    <%= @registry %>
    "<%= @keyword %>"
    keyword
  </h2>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href="<%= registry_packages_path(@registry) %>">
        Packages
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.packages_count %>
        </span>
      </a>
    </li>
    <% if @registry.maintainers_count > 0 %>
      <li class="nav-item">
        <a class="nav-link" href="<%= registry_maintainers_path(@registry) %>">
          Maintainers
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.maintainers_count %>
          </span>
        </a>
      </li>
    <% end %>
    <% if @registry.namespaces_count > 0 %>
      <li class="nav-item">
        <a class="nav-link" href="<%= registry_namespaces_path(@registry) %>">
          Namespaces
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.namespaces_count %>
          </span>
        </a>
      </li>
    <% end %>
    <% if @registry.keywords_count > 0 %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          Keywords
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.keywords_count %>
          </span>
        </a>
      </li>
    <% end %>
    <%= render 'packages/sort' %>
  </ul>

  <div class='row'>
    <div class='col-md-8'>
      <%= render @packages %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>  
    <div class='col-md-4'>
      <div class="card">
        <div class="card-header">
          Related Keywords
        </div>
        <div class="list-group list-group-flush">
          <% @related_keywords.each do |keyword, count| %>
            <% next if keyword.blank? %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="<%= keyword_registry_path(@registry.name, keyword) rescue nil %>">
              <%= keyword %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>


    </div>
  </div>
</div>
