<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to version.number, registry_package_version_path(registry_id: @registry.name, package_id: version.package.name, id: version.number) %>
    </h5>
    
    <small class='text-muted'>
      <span title='<%= version.published_at %>'>Published: <%= time_ago_in_words version.published_at %> ago</span>
      <br/>
      <% if version.registry_url.present? %>
        <%= link_to 'Registry', version.registry_url, target: :_blank %> - 
      <% end %>
      <% if version.documentation_url.present? %>
        <%= link_to 'Documentation', version.documentation_url, target: :_blank %> - 
      <% end %>
      <% if version.download_url.present? %>
        <%= link_to 'Download', version.download_url, target: :_blank %> -
      <% end %>
      <% if version.integrity.present? %>
        Integrity: <span title="<%= version.integrity %>"><%= version.integrity.first(20) %>...</span> -
      <% end %>
    </small>
  </div>
</div>
