<% @meta_description = @package.description_with_fallback %>
<% @meta_title = "#{@package.name} | #{@registry.name}" %>

<% content_for :head do %>
  <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/github.min.css">
  <script defer src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
<% end %>

<div class="container-sm">
  <%= render 'packages/details' %>

  <div class="row">
    <div class="col-lg-8">
      <%= render 'packages/tabs' %>

      <% if @versions.any? %>
        <%= render @versions %>
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>
      <% elsif @package.download_url.present? %>
        <div class='card' id="files" data-url="<%= @package.download_url %>" data-basename="<%= @package.archive_basename %>" data-path="<%= params[:path] %>">
          <div id='files-header' class="card-header"></div>
          <ul id="files-list" class="list-group list-group-flush"></ul>
          <div id="files-content" class="card-body">Loading...</div>
        </div>

        <div class='card mt-3' id="readme" data-url="<%= @package.download_url %>">
          <div id='readme-header' class="card-header">Readme</div>
          <div id="readme-content" class="card-body">Loading...</div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= render 'packages/sidebar' %>
    </div>
  </div>
</div>
