<div class="container-sm">
  <h2><%= link_to @registry.name, registry_packages_path(@registry.name) %> : <%= link_to @package.name, registry_package_path(@registry.name, @package.name) %> : <%= @version.number %></h2>

  <p>
    <%= @package.description %>
  </p>

  <p>
    <% if @version.registry_url.present? %>
      <%= link_to 'Registry', @version.registry_url, target: :_blank %> - 
    <% end %>
    <% if @version.documentation_url.present? %>
      <%= link_to 'Documentation', @version.documentation_url, target: :_blank %> - 
    <% end %>
    <% if @version.download_url.present? %>
      <%= link_to 'Download', @version.download_url, target: :_blank %> -
    <% end %>
    <% if @version.integrity.present? %>
      <br>Integrity: <span title='<%= @version.integrity %>'><%= truncate(@version.integrity) %> -
    <% end %>
    <br>Published: <time datetime="<%= @version.published_at %>"><%= time_ago_in_words @version.published_at %> ago</time>
    <br>Indexed: <time datetime="<%= @version.created_at %>"><%= time_ago_in_words @version.created_at %> ago</time>
    <% if @version.related_tag %>
      <br>Related tag:
      <% if @version.related_tag["html_url"] %>
        <%= link_to @version.related_tag["name"], @version.related_tag["html_url"] %>
      <% else %>
        <%= @version.related_tag["name"] %>
      <% end %>
      <% if @version.compare_url.present? %>
        - <%= link_to 'compare', @version.compare_url, target: :_blank %>
      <% end %>
    <% end %>
  </p>

  <% if @version.download_url.present? && @package.versions_count > 1 %>
    <div class="dropdown mb-3">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Diff between versions
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% @package.versions.sort.each do |version| %>
          <% next if version == @version %>
          <% next if version.download_url.blank? %>
          <li>
            <%= link_to version, @version.diff_url(version), class: 'dropdown-item', target: :_blank %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @version.download_url.present? %>
    <div class='card' id="files" data-url="<%= @version.download_url %>" data-basename="Files" data-path="<%= params[:path] %>">
      <div id='files-header' class="card-header"></div>
      <ul id="files-list" class="list-group list-group-flush"></ul>
      <div id="files-content" class="card-body">Loading...</div>
    </div>
  <% end %>

  <% if @version.dependencies.any? %>
      <div class="card my-3">
        <div class="card-header">Dependencies</div>
        <ul class="list-group list-group-flush">
          <% @version.dependencies.sort_by{|d| [d.kind, d.package_name]}.each do |dependency| %>
            <li class="list-group-item">
              <%= link_to dependency.package_name, registry_package_path(@registry.name, dependency.package_name) %>
              <i><%= dependency.requirements %></i>
              <small class='text-muted'>
              <% if dependency.kind != 'runtime' %>
                <%= dependency.kind %>
              <% end %>
              <% if dependency.optional %>
                (optional)
              <% end %>
              </small>
            </li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
