<div class="container-sm">

  <h1 class='mb-3'>Critical OSS Infrastucture</h1>

  <p class='lead'>
    The following 10,000 packages are critical to the operation of the open source ecosystem.
    They are the foundation of the software supply chain, and are used by millions of developers.
    They are also the most vulnerable to supply chain attacks.
  </p>

  <p>
    This list has been compiled from data from over <%= number_to_human Package.fast_total %> packages as well as 30 Million open source repositories and 6 Billion dependencies linking them together.
    Rankings are based on packages with the highest downloads, dependent packages and repositories, stars and forks within each supported registry.
    New data is being collected and aggregated all the time, so these lists will continue to change and update.
  </p>

  <div class="row">
    <div class="col-lg-9">
      <%= render @packages %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Filter by Registry
        </div>
        <div class="list-group list-group-flush">
          <% @registries.each do |registry,count| %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:registry] == registry.name %>" href="<%= url_for(registry: (params[:registry] == registry.name ? nil :registry.name), page: nil) %>">
              <%= registry %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
