<% @meta_title = "#{@registry} maintainers" %>

<div class="container-sm">
  <h1 class='mb-3'>
    <%= @registry %> maintainers
  </h1>

    <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href="<%= registry_packages_path(@registry) %>">
        Packages
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.packages_count %>
        </span>
      </a>
    </li>
    <% if @registry.maintainers_count > 0 %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          Maintainers
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.maintainers_count %>
          </span>
        </a>
      </li>
    <% end %>
    <% if @registry.namespaces_count > 0 %>
      <li class="nav-item">
        <a class="nav-link" href="<%= registry_namespaces_path(@registry) %>">
          Namespaces
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter @registry.namespaces_count %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>

  <%= render @maintainers %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>