<% @meta_title = "#{@maintainer} | #{@registry} maintainers" %>

<div class="container-sm">
  <h1 class='mb-3'>
    <%= link_to @registry.name, registry_maintainers_path %> maintainers:
    <% if @maintainer.html_url.present? %>
      <%= link_to @maintainer, @maintainer.html_url, target: :_blank %>
    <% else%>
      <%= @maintainer %>
    <% end %>
  </h1>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">
        Packages
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @maintainer.packages_count %>
        </span>
      </a>
    </li>
    <% namespaces_count = @maintainer.namespaces.length %>
    <% if namespaces_count > 0 %>
      <li class="nav-item">
        <a class="nav-link" href="<%= namespaces_registry_maintainer_path(@registry, @maintainer) %>">
          Namespaces
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter namespaces_count %>
          </span>
        </a>
      </li>
    <% end %>
    <%= render 'packages/sort' %>
  </ul>

  <%= render @packages %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>
