<% @meta_title = "Critical Open Source Packages" %>

<div class="container-sm">
  <h1 class='mb-3'>
    Critical Open Source Packages
  </h1>

  <ul class="nav nav-tabs my-3">
    <%= render 'packages/sort' %>
  </ul>

  <div class="row">
    <div class="col-lg-9">
      <%= render @packages %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          Filter by Registry
        </div>
        <div class="list-group list-group-flush">
          <% @registries.each do |registry,count| %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:registry] == registry.name %>" href="<%= url_for(registry: (params[:registry] == registry.name ? nil :registry.name), page: nil) %>">
              <%= registry %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    </div>

    <% if params[:registry].present? && @maintainers.any? %>
      <div class="card mb-3">
        <div class="card-header">
          Filter by Maintainer
        </div>
        <div class="list-group list-group-flush">
          <% @maintainers.each do |maintainer,count| %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:maintainer] == maintainer.uuid %>" href="<%= url_for(request.query_parameters.merge(maintainer: (params[:maintainer] == maintainer.uuid ? nil : maintainer.uuid), page: nil)) %>">
              <%= maintainer %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
            </a>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>