<% @meta_title = "#{@namespace} maintainers | #{@registry}" %>
<% @meta_description = "View the maintainers of the #{@namespace} namespace on the #{@registry} package registry, including their contact information and contributions." %>

<div class="container-sm">
  <h1 class='mb-3'>
    <%= link_to @registry.name, registry_namespaces_path %> namespaces: <%= @namespace %>
  </h1>

  <p class='lead'>
    View the maintainers of the <%= @namespace %> namespace on the <%= @registry %> package registry, including their contact information and contributions.
  </p>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href="<%= registry_namespace_path(@registry, @namespace) %>">
        Packages
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @registry.packages.namespace(@namespace).count %>
        </span>
      </a>
    </li>
    <% maintainers_count = @registry.namespace_maintainers(@namespace).length %>
    <% if maintainers_count > 0 %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          Maintainers
          <span class="badge bg-secondary rounded-pill">
            <%= number_with_delimiter maintainers_count %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>

  <%= render @maintainers %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>  
</div>