<% @meta_title = "#{@namespace} | #{@registry} namespaces" %>
<% @meta_description = "View the packages within the #{@namespace} namespace on the #{@registry} package registry, including their maintainers and dependencies." %>

<div class="container-sm">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Registries", registries_path %></li>
      <li class="breadcrumb-item"><%= link_to @registry.name, registry_packages_path(@registry) %></li>
      <li class="breadcrumb-item"><%= link_to "Namespaces", registry_namespaces_path(@registry) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @namespace %></li>
    </ol>
  </nav>

  <h1 class="h4 mb-3"><%= @namespace %></h1>

  <%= render 'namespace_tabs' %>

  <%= render @packages %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>
</div>
