<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= meta_title %>
    </title>
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/github.min.css">
    <script defer src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="container">
        <header class="header">
          <h1>
            <a class="site-logo" href="/" >Ecosyste.ms</a>
            <span class='site-name'>
            packages
            </span>
          </h1>
        </header>

        <div class="col-lg-8">
          <p class="lead mb-4">
            An open API service providing package, version and dependency metadata of many open source software ecosystems and registries.
          </p>
        </div>
      </div>
        
      </div>

      <%= yield %>
    </div>

        <footer class="footer dark-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <a class="site-logo site-logo--white" href="/">Ecosyste.ms</a>
            <p class="small">Tools and open datasets to support, sustain, and secure critical digital infrastructure.</p>
            <p class="small">
              Code: <%= link_to 'AGPL-3', 'https://github.com/ecosyste-ms/packages/blob/main/LICENSE' %>  — 
              Data: <%= link_to 'CC BY-SA 4.0', 'https://creativecommons.org/licenses/by-sa/4.0/', target: :_blank %>
            </p>
            <p class='footer-icons'>
              <%= link_to "https://github.com/ecosyste-ms", target: :_blank do %>
                <%= bootstrap_icon 'github', width: 20, height: 20 %>
              <% end %>
              <%= link_to "https://twitter.com/ecosyste_ms", target: :_blank do %>
                <%= bootstrap_icon 'twitter', width: 20, height: 20 %>
              <% end %>
              <%= link_to "https://mastodon.social/@ecosystems", target: :_blank do %>
                <%= bootstrap_icon 'mastodon', width: 20, height: 20 %>
              <% end %>
              <%= link_to "https://opencollective.com/ecosystems", target: :_blank do %>
                <%= bootstrap_icon 'opencollective', width: 20, height: 20 %>
              <% end %>
            </p>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled footer-links mt-3 small">
              <li><strong><%= link_to 'About', 'https://ecosyste.ms' %></strong></li>
              <li><strong><%= link_to 'Blog', 'https://blog.ecosyste.ms' %></strong></li>
              <li><strong><%= link_to 'Contact', 'https://mastodon.social/@ecosystems' %></strong></li>
              <li><strong><a href="https://ecosyste.ms/privacy">Privacy</a></strong></li>
              <li><strong><a href="https://ecosyste.ms/terms">Terms</a></strong></li>
              <li><strong><%= link_to 'Status', 'https://ecosystems.appsignal-status.com/' %></strong></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
