<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Ecosyste.ms: Packages
    </title>
    <meta name="description" content="An open API service providing package, version and dependency metadata many open source software ecosystems and registries.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/github.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="px-4 container-sm pt-2 mt-5 text-center">
        <h1 class="display-5 fw-bold">
          <a href="/" class="text-decoration-hover link-dark">Ecosyste.ms: Packages</a>
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            An open API service providing package, version and dependency metadata many open source software ecosystems and registries.
          </p>
        </div>
      </div>

      <%= yield %>
    </div>

    <footer class="py-5 container-sm text-muted text-center">
      <%= link_to 'Ecosyste.ms', 'https://ecosyste.ms', class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'Data', exports_path, class: 'link-dark' %> — 
      <%= link_to 'API', rswag_ui_path, class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'GitHub', "https://github.com/ecosyste-ms/packages", class: 'link-dark', target: :_blank  %> —
      <%= link_to 'Open Collective', "https://opencollective.com/ecosystems", class: 'link-dark', target: :_blank  %> —  
      <%= link_to 'Twitter', "https://twitter.com/ecosyste_ms", class: 'link-dark', target: :_blank  %> — 
      <br/>
      Code: <%= link_to 'AGPL-3', 'https://github.com/ecosyste-ms/packages/blob/main/LICENSE', class: 'link-dark' %>  — 
      Data: <%= link_to 'CC BY-SA 4.0', 'https://creativecommons.org/licenses/by-sa/4.0/', class: 'link-dark', target: :_blank %>
    </footer>
  </body>
</html>
